body
  {
    margin-top:0px;
    margin-left:0px;
    margin-right:0px;
    margin-bottom:0px;
    background-color:#000;
    padding:0px;
    width:100%;
    background-image:url(Startseite/bilder/bgmain.jpg);
    background-repeat:repeat-y;
    background-position:50% 0%;width:100%;
  }


/* ~~ Bilder ~~ */

#oben
  {
    padding:0px;
    margin-top:0px;
    margin-left:0px;
    margin-right:0px;
    margin-bottom: 0px;
    background-image:url(Startseite/bilder/layout.jpg);
    background-repeat:no-repeat;
    background-position:50% 0%;
  }
