/* ~~ Bilder ~~ */

#oben
  {
    padding:0px;
    margin-top:0px;
    margin-left:0px;
    margin-right:0px;
    margin-bottom: 0px;
    background-image:url(bilder/layout.jpg);
    background-repeat:no-repeat;
    background-position:50% 0%;
  }
