
/* === ALLGEMEIN=== */

body
{margin-top: 0px;  margin-left: 0px; margin-right: 0px;margin-bottom: 0px; background-color: #FFFFFF; padding:0px;
width:100%;
background-repeat:repeat-y;
background-position:50% 0%;width:100%;
}

#aussen
{padding:0px;margin-top: 0px; margin-left: 0px; margin-right: 0px;margin-bottom: 0px;
background-image:url(bilder/pferdeoben.jpg);background-repeat:no-repeat;
background-position:0% 0%;
}



/* farbige scrolleiste internet explorer ab vers.5.5 */

body
{scrollbar-arrow-color: #DF0000; scrollbar-base-color: #000;
scrollbar-highlight-color : #fd9b12; scrollbar-shadow-color : #000;
SCROLLBAR-TRACK-COLOR:#1F1F1F;}

h2{  font-family: "Trebuchet MS",arial, helvetica, tahoma ,verdana, sans-serif;font-style:italic;color:#4A5B24;
margin-bottom:18px;letter-spacing:0px;font-size: 19px;
border-bottom:solid 0px #FFFFFF;
padding-bottom:4px
}


/* ======================================== */

/* === KOPF === */

#maintop
{padding:0px;margin-top: 0px; margin-left: 0px; margin-right: 0px;margin-bottom: 0px;

}

#top1 {

height:23px;
vertical-align:bottom;
text-align:right;
padding-right:46px;
color:#FFFFFF;
font-size:14px;
font-family: "Trebuchet MS",arial, helvetica, verdana, tahoma, sans-serif; font-style:italic;
}
#hpname {letter-spacing:1px;font-size:16px;
font-family: "Trebuchet MS",arial, helvetica, verdana, tahoma, sans-serif; font-style:italic; color:#D9F086;
}


#top2 {
height:69px;
vertical-align:middle;
text-align:center;
padding-top:20px;
color:#FFFFFF;
font-size:24px;
font-family: "Trebuchet MS",arial, helvetica, verdana, tahoma, sans-serif; font-style:italic;

}
#top3 {vertical-align:bottom;
text-align:center;
height:311px;
border-top:solid 0px #CFCFCF;
background-color:#;
font-size:14px;
font-family: "Trebuchet MS",arial, helvetica, verdana, tahoma, sans-serif; font-style:italic;
color:#fff;
padding-right:0px;
padding-bottom:0px;
}
/* ======================================== */


/* === INHALT / NAV === */

#main{  height:800px;width:100%;
background-image:url(bilder/bgin.jpg);background-repeat:no-repeat;
background-position:center top; background-color:#;
}

#main2{  height:800px;

}

#inbox { text-align:left;padding-top:60px;padding-bottom:60px;
font-size: 15px;line-height: 19px;
font-family: verdana,arial, helvetica, tahoma ,verdana, sans-serif;
vertical-align:top;
width:100%;
height:900px;
color:#7c7e77;
background-color:#;
font-style:italic;
}

#navbox {padding-top: 40px;

border-right:solid 1px #3D413D;
vertical-align:top;
text-align:center;
}


/* ======================================== */


/* === FUSS === */

#fuss {
font-family: arial, helvetica, tahoma ,verdana, sans-serif;
font-size:12px;
color: #678132;
height:121px;
text-align:center;
vertical-align:middle;
padding-bottom:0px;
background-color:#;
background-image:url(bilder/pferdeunten.jpg);
background-position:0% 0%;
background-repeat:no-repeat;
background-position: center top;
padding-bottom:0px;
letter-spacing:1px;
}

#fuss2 {font-family: verdana, sans-serif;
font-size:11px;
color: #F9EF2A;
height:42px;
text-align:center;
vertical-align:middle;
font-style:normal;
background-color:#;
letter-spacing:3px;

}
/* ======================================== */
